<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificacion diabetes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body class="bg-light">
        <h1>Diabetes Classification</h1>
        <form id="classification-form" action="/predict" method="post">
        <div class=" col-md-6  text-secondary ">
            Pregnancies                      					
            <input type="number" id="Pregnancies" name="Pregnancies" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">
            Glucose Level:
            <input type="number" id="glucose" name="Glucose" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">
            Blood Pressure:
            <input type="number" id="blood-pressure" name="BloodPressure" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">
            SkinThickness:
            <input type="number" id="SkinThickness" name="SkinThickness" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">    
            Insulin Level:
            <input type="number" id="insulin" name="Insulin" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">     
            BMI (Body Mass Index):
            <input type="number" step="0.01" id="bmi" name="BMI" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">
            DiabetesPedigreeFunction:
            <input type="number" step="0.01" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" required><br><br>
        </div>
        <div class=" col-md-6  text-secondary ">   
            Age:
            <input type="number" id="age" name="Age" required><br><br>
        </div>    
            <button type="submit">Classify</button>
        </form>

        <div id="seccion1" class="col-sm-5 container m-5">
            <h3 class="text-secondary fw-bold">Integrantes:</h3>
            <ul class="list-group list-group-light">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <div class="fw-bold">Nahuel Clauser</div>
                  <div class="text-muted">@gmail.com</div>
                </div>
                <span class="badge rounded-pill badge-success">Activo</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <div class="fw-bold">Franco Torrico</div>
                  <div class="text-muted">francotorrico1999@gmail.com</div>
                </div>
                <span class="badge rounded-pill badge-primary">Activo</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <div class="fw-bold">Federico Gomez</div>
                  <div class="text-muted">@gmail.com</div>
                </div>
                <span class="badge rounded-pill badge-warning">Activo</span>
              </li>
            </ul>
        </div>
          
</body>
</html>